@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F7F7F7;
  min-width: 340px;
}

.header {
  background-color: #CC0000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 50px;
  @media (max-width: 850px) {
    padding-left: 30px;
  }
}

.store {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  cursor: pointer;
}

.menu-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: 850px) {
    display: none;
  }
}

.menu-button{
  margin-left: 32px;
  color: white;
  font-size: 13px;
  position: relative;
  vertical-align: baseline;
  background-color: #CC0000;
  border: 0px;
  box-shadow: none;
  cursor: pointer;
}

.client-header{
  background-color: white; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
  position:relative;
  box-shadow: rgba(0, 0, 0, 0.04) 0px -1px 2px, rgba(0, 0, 0, 0.04) 0px 1px 2px, rgba(0, 0, 0, 0.04) 0px 3px 4px;
  @media (max-width: 850px) {
    box-shadow: none;
    padding: 20px 20px;
    flex-wrap: wrap;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px -1px 2px, rgba(0, 0, 0, 0.04) 0px 1px 2px, rgba(0, 0, 0, 0.04) 0px 3px 4px;
  }
}

.logo{
  order: 1;
  @media (max-width: 850px) {
    order: 2;
    padding-left: 75px;
  }
}

.button-container{
  display: flex;
  align-items: center;
  order: 2;
  @media (max-width: 850px) {
    display:none
  }
}

.menu-icon{
  font-size: 35px;
  order: 1;
  @media (min-width: 851px) {
    display: none;
  }
}

.client-menu-button{
  color: black;
  position: relative;
  font-size: 20px;
  vertical-align: baseline;
  background-color: white;
  border: 0px;
  box-shadow: none;
  cursor: pointer;
  margin-left: 15px;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 15px;
}

.client-name{
  @media (max-width: 850px) {
    display:none;
  }
}

.search-bar{
  display: flex;
  background-color: #F7F7F7;
  border-radius: 8px;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 550px;
  position: relative;
  padding: 0px 20px;
  order: 3;
  @media (max-width: 850px) {
    height:70px;
    width: 100%;
    order: 4;
  }

}

.search-input{
  flex-grow:1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 17px;
}

.client-name-button{
  height: 50px;
  width: auto;
  min-width: 125px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  @media (max-width: 850px) {
    display: flex;
  }
}

.cart-user-mobile{
  display: none;
  @media (max-width: 850px) {
    display: flex;
    justify-content: flex-end;
    order: 3;
  }
}

.cart-user{
  display: flex;
  order: 4;
  width: 250px;
  margin-left: 20px;
  justify-content: space-between;
  @media (max-width: 850px) {
    display: none
  }
}

.cart{
  margin-top: 10px;
  margin-left: 15px;
  @media (max-width: 850px) {
    margin-left: -30px;
  }
}

.order-details{
  min-height: 290px;
  height: auto;
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0px 15px 40px;
  align-items: flex-start;
  @media (max-width: 850px) {
    padding: 20px;
    width: 91;
  }
}

.order-number{
  @media (max-width: 850px) {
    display: none;
  }
}

.mobile-rate-payment{
  width: 100%;
  @media (min-width: 850px) {
    display: none;
  }
}

.help-options-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.help-option{
  height: 100px;
  background-color: #F7F7F7;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 160px;
  border-radius: 6px;
  padding: 15px;
  cursor: pointer;
  position: relative;
  @media (max-width: 850px) {
    display:flex;
    width: 100%;
    height: 50px;
    margin-top:-5px;
    margin-right: 0px;
    padding-left: 20px;
  }
}
.help-description{
  @media (max-width: 850px) {
    padding-left: 20px
  }
}

.order-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  @media (max-width: 850px) {
    display: none;
  }
}

.mobile-orders{
  @media (min-width: 850px) {
    display: none;
  }
}

.order-container{
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  grid-gap: 10px;
  margin-top:10px;
  background-color: white;
  padding-bottom: 15px;
}

.refund-container{
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  margin-top:20px;
  margin-left: 15px;
  border-left: 1px solid black;
  @media (max-width: 850px) {
    display: none;
  }
}

.mobile-order-description{
  @media (min-width: 851px) {
    display: none;
  }
}

.order-heading{
  display: flex;
  align-items: center;
  width: 100%-41px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 0px 15px 25px;
}
 .spacer{
  width: 100%-17px;
  background-color: #F7F7F7;
  height: 10px;
 }

.order-item{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 20px 20px 20px 11px;
  @media (max-width: 850px) {
    margin-bottom: 40px;
  }
}



.order-description{
  display: flex;
  align-items: center;
 }

.rate-button{
  color: white;
  position: relative;
  font-size: 20px;
  vertical-align: baseline;
  background-color: #CC0000;
  border: 0px;
  padding: 10px 0px;
  box-shadow: none;
  cursor: pointer;
  width: inherit;
  border-radius: 8px;
  @media (max-width: 850px) {
    margin: 20px 0px;
  }
}

.payment-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin-top:10px;
  margin-right: 10px;
  background-color: white;
  width: 370px;
  @media (max-width: 850px) {
    display: none;
  }
}

.payment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
}
.sub-payment{
  padding-left: 25px;
  font-size: 13px;
  font-weight: lighter;
}

.divider{
  border-top: 1px solid black;
  margin-top: 10px;
}

.receipts-button{
  position: relative;
  font-size: 20px;
  background-color: white;
  vertical-align: baseline;
  border: 1px solid black;
  padding: 20px 0px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
}

.experience{
  padding: 20px;
  background-color: white;
  @media (max-width: 850px) {
    padding: 0px 0px;
  }
}

.experience-box{
  background-color: #F7F7F7;
  padding: 20px;
  border-radius:6px; 
  width: 18.2vw;
  @media (max-width: 850px) {
    margin: 20px;
    width:inherit
  }
}

.delivary-status{
  display: flex;
  @media (min-width: 850px) {
    display: none;
  }
}

.mobile-payment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%
}

.address-box{
  padding:20px;
  width: 45%;
  @media (max-width: 850px) {
    padding: 10px 0px 30px 30px;
    width:25%
  }
}
